* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  background-color: #00a8e7;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.bg-container-title {
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 600;
  color: #171f46;
  text-align: center;
}

.description {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  color: #64748b;
  text-align: center;
}

.cards-container {
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
